<%= form_with(model: food_pack, local: true) do |form| %>
  <% if food_pack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_pack.errors.count, "error") %> prohibited this food_pack from being saved:</h2>

      <ul>
        <% food_pack.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :protein_id %>
    <%= form.collection_select :protein_id, Protein.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :sides %><br>
    <%= form.collection_select :side_ids, Side.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
