<p style="color: green"><%= notice %></p>

<%= render @food_pack %>

<div>
  <%= link_to "Edit this food pack", edit_food_pack_path(@food_pack) %> |
  <%= link_to "Back to food packs", food_packs_path %>

  <%= button_to "Destroy this food pack", @food_pack, method: :delete %>
</div>
