

<div id="<%= dom_id client %>">


  <ul role="list" class="divide-y divide-gray-100">
  <%= link_to client, class: "block" do %>
    <li class="flex justify-between mt-3 py-5 border border-gray-300 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-200">
      <div class="min-w-0">
        <p class="pl-6 text-sm font-semibold text-gray-900">
          First Name
          <p class="pl-6 text-sm leading-6 text-gray-900"> <%= client.first_name %></p>
        </p>
        <p class="pl-6 text-sm font-semibold text-gray-900">
          Last Name
          <p class="pl-6 text-sm leading-6 text-gray-900"> <%= client.last_name %></p>
        </p>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="pr-6 text-sm font-semibold text-gray-900">
          Birthday
          <p class="pr-6 text-sm leading-6 text-gray-900"> <%= client.birthday %></p>
        </p>
        <p class="pr-6 text-sm font-semibold text-gray-900">
          Social Media
          <p class="pr-6 text-sm leading-6 text-gray-900"> <%= client.social_media %></p>
        </p>
      </div>
    </li>
  <% end %>
  </ul>

</div>
