<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= address.client_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= address.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Street:</strong>
    <%= address.street %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= address.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location number:</strong>
    <%= address.location_number %>
  </p>

</div>
